/* energy saving dark theme */
h1 {
  background-color: black;
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-top:.4em; padding-bottom:.2em;
}

body {
  background-color: lightgrey;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* TO DO
   bullets: small space above first & below every, except last which has large space below 
*/
