/* energy saving dark theme */
h1 {
  background-color: DarkOliveGreen;
  color: Black;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-top:.4em; padding-bottom:.2em;
}

body {
  background-color: HoneyDew;
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
}

/* TO DO
   bullets: small space above first & below every, except last which has large space below 
*/
